body {
  background: #000000;
}

table, tr, td {
  margin: auto;
  border: solid 2px black;
  border-radius: 5px;
}

table {
  width: 50vw;
  background: grey;
}

th {
  height: 15vw;
  background-color: white;
  border: solid 2px #000000;
  border-radius: 5px;
}

tr {
  background: grey;
  height: 15vw;
}

td {
  width: 15vw;
  border: solid 2px #ffffff;
}

td {
  text-align: center;
}

button {
  border: none;
}

.result {
  margin: auto;
  text-align: center;
  width: 50vw;
  color: white;
}